/* Light mode default values */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --link-color: #1a73e8;
    --header-bg: #f4f4f4;
    --header-text: #333;
    --project-bg: #f9fafb; /* Light mode project background */
    --project-text: #4b5563; /* Light mode project text */
    --footer-bg: #f4f4f4;
    --footer-text: #333;
    --skill-card-bg: #ffffff; /* Light mode skill card background */
    --skill-card-text: #000000; /* Light mode skill card text */
}

/* Dark mode overrides */
[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
    --link-color: #bb86fc;
    --header-bg: #1e1e1e;
    --header-text: #ffffff;
    --project-bg: #1f2937; /* Dark mode project background */
    --project-text: #d1d5db; /* Dark mode project text */
    --footer-bg: #1e1e1e;
    --footer-text: #ffffff;
    --skill-card-bg: #333333; /* Dark mode skill card background */
    --skill-card-text: #ffffff; /* Dark mode skill card text */
}

/* Global styles */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--header-bg);
    color: var(--header-text);
}

/* Apply header-text color to the name */
header h1 {
    color: var(--header-text);
}

footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
}

a {
    color: var(--link-color);
}

/* Skills Section Styling */
section {
    background-color: var(--bg-color);
}

/* Skill cards */
section .skill-card {
    background-color: var(--skill-card-bg);
    color: var(--skill-card-text); /* This ensures the text color follows the theme */
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

section .skill-card:hover {
    background-color: var(--link-color);
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

section .skill-card h4 {
    font-weight: bold;
    color: inherit; /* This ensures the h4 inherits the color from skill-card */
}

/* Skill bar */
section .skill-card .skill-bar {
    background-color: var(--link-color);
    height: 0.5rem;
    border-radius: 0.25rem;
}


.theme-switcher {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 50%;
    padding: 0.5rem;
    transition: all 0.3s ease;
}

.theme-switcher:hover {
    background-color: var(--link-color);
    color: #fff;
}
